body {
    padding: 10px;
    background-color: lightgray;
}
.card-text {
    max-width: 150ch;
}

.wrapper :hover {
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.card :hover {
    box-shadow: none;
}

.wrapper {
    float: left;
    margin: 20px;
    width: 18rem;
    height: 25rem;
}

.card {
    height: 25rem;
    width: 18rem;
}

.img-wrapper {
    width: 286px;
    height: 214.5px;
}

.form-control {
    background-color: lightgray;
}