{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="listing-title">{{ listing.title }}</h2>

    {% if user.username == listing.owner %}
    <form action="{% url 'close' %}" method="post">
        {% csrf_token %}
        <input hidden type="number" name="listing_id" id="listing_id" value="{{ listing.id }}">
        <input type="submit" value="close listing" class="btn btn-outline-danger">
    </form>
    {% else %}

    {% for watch in watchs %}
    {% if listing.id == watch.listing %}

    <form action="{% url 'remove' %}" method="post">
        {% csrf_token %}
        <input hidden type="number" name="remid" id="remid" value="{{ listing.id }}">
        <input type="submit" value="remove" class="btn btn-outline-danger">
    </form>
    {% endif %}
    {% empty %}
    <form action="{% url 'watchlist' %}" method="post">
        {% csrf_token %}
        <input hidden type="number" name="watchid" id="watchid" value="{{ listing.id }}">
        <input type="submit" value="add to watchlist" class="btn btn-outline-danger">
    </form>
    {% endfor %}
    {% endif %}

    <div class = img-wrapper2>
        <img src="{{listing.image}}" alt="image" width = "572" height = "429" class="item-img">
    </div>
    <div class="page-wrapper">
        <h4>Listing Owner: {{ listing.owner }}</h4>
        <h6>{{ listing.description }}</h6>
        <h4>{{ listing.categories }}</h4>
        <h4>Highest Bidder: {{ listing.bidder }}</h4>
        <h3>${{ listing.bid }}</h3>
        <h4>Place a bid: </h4>
        <h4>comments:</h4>
        {% for comment in comments %}
        <h5>{{ comment.commenter }}: {{comment}}</h5>
        {% endfor %}
        <form action="{% url 'listing' listing.id %}" method = "POST">
            {% csrf_token %}
            <input type="number" name="bid" id="bid" min="{{ min_bid }}" placeholder="minimum = {{ min_bid }}">
            <input type="submit" value="place bid">
        </form>
        <form action="{% url 'comment' listing.id %}" method = "POST">
            {% csrf_token %}
            <input type="text" name="comment" id="comment" class="form-control">
            <input type="submit" value="post comment" class="btn btn-outline-dark">
        </form>
    </div>
{% endblock %}