{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="listing-title">{{ listing.title }}</h2>

    <div class = img-wrapper2>
        <img src="{{listing.image}}" alt="image" width = "572" height = "429" class="item-img">
    </div>
    <div class="page-wrapper">
        <h4>Listing Owner: {{ listing.owner }}</h4>
        <h6>{{ listing.description }}</h6>
        <h4>{{ listing.categories }}</h4>
        <h4>Highestr Bidder: {{ listing.bidder }}</h4>
        <h3>${{ listing.bid }}</h3>
        <h4>Place a bid: </h4>
        <form action="{% url 'listing' listing.id %}" method = "POST">
            {% csrf_token %}
            <input type="number" name="bid" id="bid" min="{{ min_bid }}" placeholder="minimum = {{ min_bid }}">
            <input type="submit" value="place bid">
        </form>
        <form action="{% url 'watchlistadd' listing.id %}" method = "POST">
            {% csrf_token %}
            <input type="submit" value="Add to watchlist">
        </form>
    </div>
{% endblock %}